<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patient</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-2">
        <div class="card p-2 justify-content-center">
            <div class="card-title">
                <h2>List of clients</h2>
            </div>
            <div class="card-body">
                <div class="form-group m-2 mb-3">
                    <form action="/patients/search" method="get">
                        <label for="name">Name</label>
                        <input type="text" class="mt-2" id="name" name="keyword">
                        <input type="submit" class="btn btn-success" value="Search">
                    </form>
                </div>
                <table class="table">
                    <tr>
                        <th>First Name</th>
                        <th>Sick</th>
                        <th>Birth Date</th>
                        <th>Score</th>
                    </tr>
                    <tr th:each="p: ${patients}">
                        <td th:text="${p.name}"></td>
                        <td th:text="${p.sick}?'YES':'NO'"></td>
                        <td th:text="${p.birthDay}"></td>
                        <td th:text="${p.score}"></td>
                        <td>
                            <a th:href="@{/patients/edit(id=${p.id})}" class="btn btn-primary">Edit</a>
                            <a th:href="@{/patients/delete(id=${p.id})}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                </table>
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
</body>
</html>